/* fuentes:
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
/* colores
    gris claro: #F2F0F0
    azul casi oscuro: #0279B0
    celeste claro: #D5EDF8
*/

header a{
    background-color: #F2F0F0;
    font-family: 'Roboto', sans-serif;
}
a.contact{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 20px;
    align-items: center;
    background-color: #F2F0F0;
}

header{
    background-color: #0279B0;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid black;
}
.cabecera{
    display: flex;
    justify-content: space-between;
}
.search h5{
    margin: 0;
}
.search{
    display: flex;
    height: 50px;
    align-items: center;
}
form.boxt{
    display: flex;
}
<<<<<<< HEAD
.boxt h5{
    padding-right: 8px;
}
=======
>>>>>>> 6a5890bbae88111c80c13ed3d9a93ec396c1e3a5
.logo{
    display: flex;
    justify-content: flex-start;
    background-color: #0279B0;
    height: 50px;
    align-items: center;
}
.logIn{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}
<<<<<<< HEAD
.title-principal-box{
=======
.CATEGORIAS{
>>>>>>> 6a5890bbae88111c80c13ed3d9a93ec396c1e3a5
    display: flex;
    justify-content: center;
    align-content: center;
}
.slides{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}
.slidesimg{
    border: 1px solid black;
}
.catalog{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
}
.catalogimg{
    border: 1px solid black;
    width: 50%;
<<<<<<< HEAD
    max-height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.box{
    border: 1px solid black;
    margin: 8px;
=======
    height: 800px;
    display: flex;
}
.box{
    border: 1px solid black;
    margin: 10px;
>>>>>>> 6a5890bbae88111c80c13ed3d9a93ec396c1e3a5
    justify-content: space-around;
    align-items: center;
    height: max-content;
}
body{
    background-color: rgb(184, 225, 245);
    font-family: 'Oswald', sans-serif;
    margin: 0px;
} 
.menu{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
.products{
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
}
.image_border{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
.products h3{
    display: flex;
    justify-content: center;
}
.products ol{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #F2F0F0;
}
.p-box-common-products{
    border: 1px solid red;
    display: flex;
}
.box-common-products{
    border: 1px solid red;
}
.contact{
    display: flex;
    background-color: #0279B0;
}
.contact-box1{
    width: 50%;
    border: 1px solid red;
    text-align: center;
}
/* .footer-box-client{
    justify-content: center;
}
.client{
    justify-content: center;
} */
.client-info h5{
    margin: 0;
}
.footer{
    background-color:#1b2127;
    padding: 5px;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.contact-box2{
    width: 50%;
    text-align: center;
    border: 1px solid red;
}
.social-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.facebook{
    background-image: url('../imagenes/facebook.svg');
}
.social-link.twitter{
    background-image: url('../imagenes/twitter.svg');
}
.social-link.instagram{
    background-image: url('../imagenes/instagram.svg');
}
.social-link.github{
    background-image: url('../imagenes/github.svg');
}