/* fuentes:
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
/* colores
    gris claro: #F2F0F0
    azul casi oscuro: #0279B0
    celeste claro: #D5EDF8
*/
header{
    background-color: #0279B0;
    font-family: 'Open Sans', sans-serif;
    height: 105px;
}
header a{
    background-color: #F2F0F0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #D5EDF8;
    font-family: 'Oswald', sans-serif;
}